{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">
          {% if result %}
            [{{ time }}]<br>
            [現在の収支]<br>
            {{ vo.count }} 回目 支払金額 {{ vo.price }} 円 獲得金額 {{ vo.gain }} 円<br>
            <br>
            {{ message }}<br>
            結果は<br>
            {% for v in result %}
              {{ v }}<br>
            {% endfor %}
          {% else %}
            {{ message }}
          {% endif %}
        </p>
        <form action="/post" method="post" name="rare" class="form-inline">
          <button type="submit" name="rare" class="btn btn-default">宝くじを買う</button>
        </form>
        <form action="/post" method="post" name="10rare" class="form-inline">
          <button type="submit" name="10rare" class="btn btn-default">宝くじを 10 枚買う</button>
        </form>
        <form action="/post" method="post" name="reset" class="form-inline">
          <button type="submit" name="reset" class="btn btn-default">リセットする</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
